.signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.signUp table {
    background-color: whitesmoke;
    padding: 30px;
}

.signUp table input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #8e9aaf;
}

.signUp table input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #8e9aaf;
}

.register-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.register-btn:hover{
    background-color: #e5e5d9;
}