* {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    background-color: #FB4570;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.header div {
    display: flex;
    gap: 30px;
}

.header a,
.header span {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

.header a:hover,
.header span a p:hover {
    border-bottom: 1px solid #EFEBE0;
}